@charset "UTF-8"; 
 body{
         background-image:url(../IMG_0652.jpg);
    }
  h1 span{
      font-size:1.75em;
      color:#3399cc;
      text-align:center;
    }
 #lead{
     color:#ffffff;
    }
 .greeting{
      color:#3399cc;
    }
h2{
    background-color:#fbf9cc;
    font-weight:bold;
    border:#000000 1px dotted;
}
h2:first-letter{font-size:1.75em;}
